body {
    background-color: rgb(215, 145, 23); 
  }
.imagenes {
    padding-top: 2%;
}
.img_narutonormal {
    padding-left: 10%;
    height: 650px; /*altura*/
    width: 400px; /*ancho*/
}
.img_narutoshipuden {
    padding-left: 10%;
    height: 650px; /*altura*/
    width: 400px; /*ancho*/
}
.imagenes h2 {
    padding-left: 10%;
}

.resumen {
    color: rgb(0, 0, 0);
    font-size: large;
    padding-left: 10%; /* Añade espacio entre la imagen y el texto */
    max-width: 400px; /* Limita el ancho del texto si es necesario */
}






/*.imagenes {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding-top: 2%;
}

.first_img, .second_img {
    display: flex;
    flex-direction: row; 
    align-items: flex-start; 
}

.first_img img, .second_img img {
    height: 650px; 
    width: 400px; 
}

.resumen {
    color: rgb(0, 0, 0);
    font-size: large;
    padding-left: 20px; 
    max-width: 400px; 
}*/

 
  